*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header{
    margin-top: 2rem;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#content div{
    font-size: 1.5rem;
    width:100%;
    margin-top: 3rem;
    border: 1px lightskyblue solid;
    padding: 1rem;
}

